.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  font-size: 29px;
  font-weight: 500;
  color: #1e2939;
  margin-top: 35px;
}

.content p {
  font-size: 22px;
  margin-top: 35px;
  line-height: 1.7;
  color: #101828;
}

.content img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 75px 0;
}

.content a {
  text-decoration: underline;
}

.content hr {
  color: #d1d5dc;
  display: block;
  margin-top: 35px;
}

.content pre {
  background-color: #f3f4f6;
  margin-top: 35px;
  color: #101828;
  font-size: 20px;
}

.content ul {
  list-style-type: square;
  padding-left: 37px;
}

.content ul li {
  margin-top: 35px;
  font-size: 22px;
  line-height: 1.7;
  color: #101828;
}

.content q {
  font-size: 22px;
  display: block;
  margin-top: 35px;
  line-height: 1.7;
}
